{% extends 'index.html' %}
{% load static %}
{% block title %} Store {% endblock title %}
{% block body %}



<main class="page" id="car">
    <!-- <div v-for="orderItem in dbOrderItems" :key="orderItem.id">
        
                <h3> Producto Nombre: [[dbProducts.name]]</h3>
                <p> Cantidad: [[orderItem.quantity]]</p>
                <p> Sabor: [[orderItem.orderFlavor]]</p>
                <p> Sabor-Cubierta: [[orderItem.orderFlavorCoverage]]</p>
                <p> Sabor-Bizcocho: [[orderItem.orderFlavorBizcocho]]</p>
    </div> -->
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Carrito de Compras</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div v-for="orderItem in dbOrderItems" :key="orderItem.id" class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image" :src="orderItem.product.image_1">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <h4> <u>[[orderItem.product.name]]</u></h4>
                                                        <div class="product-info">
                                                            <div>Sabor: <span
                                                                    class="value">[[orderItem.orderFlavor]]</span></div>
                                                            <div>Sabor Cobertura: <span
                                                                    class="value">[[orderItem.orderFlavorCoverage]]</span>
                                                            </div>
                                                            <div>Sabor Bizcocho: <span
                                                                    class="value">[[orderItem.orderFlavorBizcocho]]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Cantidad: </label>
                                                    <input id="quantity" type="number" :value="orderItem.quantity"
                                                        class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    Precio: <br>
                                                    <span>27</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Sub-Total</span><span class="price">$360</span>
                            </div>

                            <div class="summary-item"><span class="text">Ponga su cupon aqui <br>
                                    <div class="input-group mb-3"><input type="text" class="form-control"
                                            placeholder="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">Button</button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="summary-item"><span class="text">Descuento</span><span class="price">-$0</span>
                            </div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">$360</span>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



{% endblock body %}
{% block js %}
<!-- main vue -->
<script type="module" src="{% static 'js/components/Car.js' %}"></script>
<!-- utils -->
<script type="module" src="{% static 'js/api.js' %}"></script>
<script type="module" src="{% static 'js/utils/LocalStorage.js' %}"></script>
{% endblock js %}