{% extends 'index.html' %}
{% load static %}
{% block title %} Detalles {% endblock title %}

{% block body %}

<!--

<div id="product-details" class="container">
	<h2>Detalles de un producto</h2>
	<p>[[ dbProductDetails.name ]]</p>
	<img :src="dbProductDetails.image_1" class="card-img-top">
	<p>[[ dbProductDetails.description]]</p>
	<p>[[ dbProductDetails.price ]]</p>
	<p>[[ dbProductDetails.flavor ]]</p>
</div> -->

<!-- Page Content -->
<div id="product-details" class="container">


	<!-- Portfolio Item Row -->
	<div class="row">

		<div class="col-md-4">
			<img class="img-fluid" :src="dbProductDetails.image_1" alt="">
		</div>

		<div class="col-md-4">
			<h3 class="my-3">[[ dbProductDetails.name ]]n</h3>
			<p>[[ dbProductDetails.description]]</p>
			<h3 class="my-3">Product Details</h3>
			<ul>
				<li>Precio: [[ dbProductDetails.price ]] </li>
				<li>Sabor: [[ dbProductDetails.flavor ]]</li>
			</ul>
		</div>

	</div>
	<!-- /.row -->

	<!-- Related Projects Row -->
	<h3 class="my-4">Related Projects</h3>

	<div class="row">

		<div class="col-md-3 col-sm-6 mb-4">
			<img class="img-fluid" :src="dbProductDetails.image_2" alt="">

		</div>

		<div class="col-md-3 col-sm-6 mb-4">
			<img class="img-fluid" :src="dbProductDetails.image_3" alt="">
		</div>



	</div>
	<div>
		<input type="number" name="" id="" v-model="quantity">
		<select name="select" id="select" v-model="flavor">
			<option value="default">default</option>
			<option value="primero">primero</option>
			<option value="segundo">segundo</option>
			<option value="tercero">tercero</option>
		</select>
		<p>[[quantity]]</p>
		<p>[[flavor]]</p>
		<button @click="handleGoCart">Ir a carrito</button>
	</div>
	<!-- /.row -->

</div>
<!-- /.container -->



{% endblock body %}

{% block js %}
<!-- main vue -->
<script type="module" src="{% static 'js/components/ProductDetails.js' %}"></script>
<!-- utils -->
<script type="module" src="{% static 'js/api.js' %}"></script>
<script type="module" src="{% static 'js/utils/LocalStorage.js' %}"></script>
{% endblock js %}