{% extends 'index.html' %}
{% load static %}
{% block title %} Detalles {% endblock title %}

{% block body %}

<!--

<div id="product-details" class="container">
	<h2>Detalles de un producto</h2>
	<p>[[ dbProductDetails.name ]]</p>
	<img :src="dbProductDetails.image_1" class="card-img-top">
	<p>[[ dbProductDetails.description]]</p>
	<p>[[ dbProductDetails.price ]]</p>
	<p>[[ dbProductDetails.flavor ]]</p>
</div> -->

<!-- Page Content -->

<div id="product-details" class="container mt-5 mb-5">
	<div class="card">
		<div class="row g-0">
			<div class="col-md-6 border-end">
				<div class="d-flex flex-column justify-content-center">
					<div class="main_image">
						<img v-if="imgPrincipal===0" :src="dbProductDetails.image_1" width="400">
						<img v-if="imgPrincipal===1" :src="dbProductDetails.image_2" width="400">
						<img v-if="imgPrincipal===2" :src="dbProductDetails.image_3" width="400">
					</div>
					<div class="thumbnail_images">
						<ul id="thumbnail">
							<li><img @click="changeImage(0)" :src="dbProductDetails.image_1" width="90"></li>
							<li><img @click="changeImage(1)" :src="dbProductDetails.image_2" width="90"></li>
							<li><img @click="changeImage(2)" :src="dbProductDetails.image_3" width="90"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="p-3 right-side">
					<div class="d-flex justify-content-between align-items-center">
						<h2>[[ dbProductDetails.name ]]</h2>
					</div>
					<div class="mt-2 pr-3 content">
						<p>[[ dbProductDetails.description]]</p>
					</div>
					<h3>Precio: [[ dbProductDetails.price ]] S/.</h3>
					<h3>Sabor: [[ dbProductDetails.flavor ]]</h3>
					<div class="buttons d-flex flex-row mt-5 gap-3"><button class="btn btn-dark">Añadir a
							carrito</button> </div>

				</div>
			</div>
		</div>
	</div>
	<div>
		<input type="number" name="" id="" v-model="quantity">
		<select name="select" id="select" v-model="flavor">
			<option value="default">default</option>
			<option value="primero">primero</option>
			<option value="segundo">segundo</option>
			<option value="tercero">tercero</option>
		</select>
		<p>[[quantity]]</p>
		<p>[[flavor]]</p>
		<button @click="handleGoCart">Ir a carrito</button>
	</div>
	<!-- /.row -->

</div>



{% endblock body %}

{% block js %}
<!-- main vue -->
<script type="module" src="{% static 'js/components/ProductDetails.js' %}"></script>
<!-- utils -->
<script type="module" src="{% static 'js/api.js' %}"></script>
<script type="module" src="{% static 'js/utils/LocalStorage.js' %}"></script>
{% endblock js %}