{% extends 'index.html' %} 
{% load static %} 
{% block title %} Store {% endblock title %} 
{% block body %}
<div id="store">
  <h2>Kiomi store</h2>
	<div class="container">
		<template>
			<div class="row d-flex">
				<store-card-product
					v-for="product in dbProducts"
					:key="product.id"
					:product="product"
				/>
			</div>
		</template>
		<template>
			<store-pagination/>
		</template>
	</div>
</div>
{% endblock body %} 
{% block js %}
	<!-- components -->
	<script src="{% static 'js/components/StorePagination.js' %}"></script>
	<script src="{% static 'js/components/StoreCardProduct.js' %}"></script>
	<!-- main vue -->
	<script type="module" src="{% static 'js/components/Store.js' %}"></script>
	<script type="module" src="{% static 'js/api.js' %}"></script>
{% endblock js %}
